name: Deploy Frontend PHP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 21098
        script: |
          # 1. Go to the web root folder
          cd /home/shopdbji/public_html

          # 2. Pull the latest PHP files from GitHub
          git pull origin main

          # PHP does not need npm install or a server restart!