name: Deploy to Namecheap

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_HOST }}    
        username: ${{ secrets.SERVER_USER }} 
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 21098 # Namecheap's specific port
        script: |
          # Go to your app folder
          cd /home/shopdbji/app

          # Pull the latest changes from GitHub
          git pull origin main

          # Install only necessary libraries (Saves Memory!)
          npm install --omit=dev

          # Create a temporary file to force Node.js to restart
          mkdir -p tmp
          touch tmp/restart.txt